<div class="container">
<div class="well" style="width: 100%;height: auto;">
<h2 class='heading-fix'> Admin Actions</h2><br>
<a href="<%= get_users_path %>" class='btn btn-normal create-admin-btn-position'>Get All Users</a><br><br>
<a href="<%= employee_requests_path %>" class='btn btn-normal create-admin-btn-position'>Get All Employee Requests</a>
</div>
</div>

