<div class="container">
  <div class="well" style="width: 100%;height: auto;">
    <h2 class='heading-fix'> List of Documents</h2>
    <div>
      <a href="<%= root_path %>" class='btn btn-normal create-btn-position'>Back</a>
    </div>
  </div>
</div>
