.fix-width-container {
  margin-top: -170px;
}
.align-center-text {
  text-align: center;
}

.fix-input-filed-center {
  margin-left: 27% !important;
}

.text-color-fix {
  color: black !important;
}

.create-btn-position {
  float: right;
  color: #fff;
  background-color: #6fb3de;
}
.fix-position-table {
  margin-top: 50px;
}

.create-admin-btn-position {
  color: #fff;
  background-color: #6fb3de;
}

.fix-margin-btn-buts {
  margin-right: 20px;
}

.table-margin-top {
  margin-top: 70px;
}

.list-view thead tr th {
  background-color: #286090;
  color: #ffffff;
}
.list-view .table-striped > tbody > tr:nth-child(odd) > td,
.list-view .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #d3dfe5;
}
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }
 textarea {
    resize: none;
}

/*.navbar {
    margin-bottom: 0px;
}*/
/*.navbar-fixed-top {
    border-bottom: 1px solid #646464;
    background-color: #428bca;
}
.navbar-nav > li > a {
    font-size: 16px; font-family: "Titillium Web"; color: rgb( 34, 34, 34 ); text-transform: uppercase; line-height: 1.125;
    padding-bottom: 5px;padding-top: 5px;padding-left: 2px;padding-right: 2px;margin: 30px 25px 30px 25px;

}

.navbar-nav > li > a:hover {
    background-color: transparent; text-decoration: none;  border-bottom: 3px solid white;margin: 30px 25px 25px 25px;
}
.navbar-nav > .active > a {
    border-bottom: 3px solid white;margin: 30px 25px 25px 25px;
}
.navbar-toggle {
    background-color:#ea6060;border: 1px solid #ea6060;
}
.navbar-toggle .icon-bar {
    background-color: #fff;
}
a:focus {
    outline: none;
}*/

.reactangle-shape-card {
  width:90%;
  border:1px
  solid #000;
  border-radius: 10px;
}

.card-heading-fix {
  margin-left: 10px;
}

.color-shading-link {
  color: #6fb3de;
  font-size: 20px;
}

/*Navbar styles begins*/
.affix {
  top: 0;
  width: 100%;
}

.affix + .container-fluid {
  /*padding-top: 70px;*/
}
.navbar.navbar-inverse-custom {
  position: fixed;
  display: block;
  right: 0;
  left: 0;
  top: 0;
}
.navbar.navbar-inverse {
  border-radius: 0;
  background: #000;
  border-color: #ccc;
}
.navbar-inverse .navbar-nav>li>a {
  color: #A2AAAD !important;
}
.glyphicon.glyphicon-menu-hamburger {
  font-size: 26px;
}
.navbar-nav.navbar-custom > li > a {
  font-size: 16px;
  text-decoration: none;
  margin: 0 50px 0 50px;
}
.navbar-nav.navbar-custom > li > a:hover {
  text-decoration: underline;
  color: #fff !important;
    /*font-weight: 600;
    margin: 0 47px 0 47px;*/
}
.navbar-nav.navbar-custom > li > input {
  margin-top: 4%;
  width: 124%;
}

.about-position {
  margin-left: 500px;
}
